/* line 1, ../sass/_header-footer.scss */
.header {
  font: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 95px;
  padding-top: 25px;
  position: relative;
  border-bottom: 1px solid rgba(221, 228, 234, 0.15);
}
/* line 10, ../sass/_header-footer.scss */
.header-img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 16, ../sass/_header-footer.scss */
.header-wrap {
  overflow: hidden;
  position: relative;
  background-color: #1c1c1c;
  height: 395px;
}
/* line 23, ../sass/_header-footer.scss */
.header .content-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 29, ../sass/_header-footer.scss */
.header .logo {
  padding-top: 5px;
}
/* line 33, ../sass/_header-footer.scss */
.header .phone {
  font-weight: 400;
  margin-top: 17px;
}
/* line 38, ../sass/_header-footer.scss */
.header .main-nav {
  justify-content: space-around;
  text-align: center;
  margin-top: 16px;
}
/* line 43, ../sass/_header-footer.scss */
.header .main-nav li {
  display: inline;
}
/* line 46, ../sass/_header-footer.scss */
.header .main-nav li:nth-child(n+1) {
  margin: 0 20px 0 25px;
}
/* line 50, ../sass/_header-footer.scss */
.header .main-nav li:active {
  color: #ffaf36;
}
/* line 57, ../sass/_header-footer.scss */
.header .head-span {
  font-weight: 400;
  margin-top: 16px;
}

/* line 66, ../sass/_header-footer.scss */
.footer {
  background-color: #2a2b2c;
  padding: 70px 0 85px 0;
  font: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
}

/* line 73, ../sass/_header-footer.scss */
.item-center {
  align-items: center;
}

/* line 76, ../sass/_header-footer.scss */
.footer-date {
  margin: 20px 0 40px 0;
  color: #8a8a8a;
}

/* line 80, ../sass/_header-footer.scss */
.footer-social {
  margin-bottom: 10px;
}
/* line 82, ../sass/_header-footer.scss */
.footer-social a {
  color: #8a8a8a;
  border: solid 1px #373839;
  text-decoration: none;
  padding: 5px;
}
/* line 87, ../sass/_header-footer.scss */
.footer-social a i {
  text-align: center;
  width: 20px;
  font-size: 15px;
}

/* line 98, ../sass/_header-footer.scss */
.footer-menu {
  padding: 0;
}
/* line 100, ../sass/_header-footer.scss */
.footer-menu li {
  list-style-type: none;
  padding: 15px 0;
  border-bottom: solid 1px #373839;
}
/* line 104, ../sass/_header-footer.scss */
.footer-menu li:last-child {
  border-bottom: none;
}
/* line 108, ../sass/_header-footer.scss */
.footer-menu a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #8a8a8a;
}

/* line 118, ../sass/_header-footer.scss */
.foot-nav-marker {
  width: 0;
  height: 0;
  padding-right: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
  border-left-color: #ffaf36;
}

/* line 128, ../sass/_header-footer.scss */
.contact-us h5 {
  padding-bottom: 35px;
}

/* line 133, ../sass/_header-footer.scss */
.footer-input, .comment-foot-form {
  border: 1px solid #373839;
  color: #8a8a8a;
  background-color: transparent;
  padding: 15px 20px;
  margin: 0;
}

/* line 140, ../sass/_header-footer.scss */
.comment-foot-form {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
}

/* line 146, ../sass/_header-footer.scss */
.footer-btn {
  margin-top: 10px;
}

/* line 2, ../sass/_helper-classes.scss */
.text-color-white {
  color: #fff;
}
/* line 6, ../sass/_helper-classes.scss */
.text-black {
  color: #1c1c1c;
}

/* line 11, ../sass/_helper-classes.scss */
.bold {
  font-weight: 700;
}

/* line 15, ../sass/_helper-classes.scss */
.upper {
  text-transform: uppercase;
}

/* line 19, ../sass/_helper-classes.scss */
.content-center {
  width: 1140px;
  margin: 0 auto;
}

/*parent mast have position: relative;
and with fixed width(.content-center)*/
/*add div with PIRAMIDS-class*/
/* line 6, ../sass/_piramids.scss */
.pos-rel {
  position: relative;
}

/* line 10, ../sass/_piramids.scss */
.blue-piramid-left, .blue-piramid-right {
  width: 0;
  height: 0;
  border-left: 78px solid transparent;
  border-right: 78px solid transparent;
  border-bottom: 105px solid #36a8ff;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

/* line 22, ../sass/_piramids.scss */
.orange-piramid-left, .orange-piramid-right {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 70px solid #ffaf36;
  position: absolute;
  left: 85px;
  bottom: 0;
  z-index: 2;
}

/* line 34, ../sass/_piramids.scss */
.blue-piramid-right {
  left: auto;
  right: 70px;
}

/* line 40, ../sass/_piramids.scss */
.orange-piramid-right {
  left: auto;
  right: 0;
}

/* In FAQ Page/
.search-q-content{
  padding-bottom: 100px;
}
*/
/* line 6, ../sass/screen.scss */
a:hover, .footer-social a:hover, .footer-menu a:hover {
  text-decoration: none;
  color: #ffaf36;
  border-color: #ffaf36;
}

/* line 13, ../sass/screen.scss */
.btn, .search-form .search-btn, .contact-styl .info-btn {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #ffaf36;
  border-radius: 0;
  background-color: transparent;
  font: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #ffaf36;
}
/* line 25, ../sass/screen.scss */
.btn:hover, .search-form .search-btn:hover, .contact-styl .info-btn:hover {
  color: #36a8ff;
}

/* line 33, ../sass/screen.scss */
h3 {
  color: #1c1c1c;
  font: 30px/24px "Raleway", sans-serif;
  font-weight: 800;
}

/* line 39, ../sass/screen.scss */
h5 {
  font: 18px "Raleway", sans-serif;
  font-weight: 900;
}

/* line 44, ../sass/screen.scss */
h6 {
  font: 16px/24px "Raleway", sans-serif;
  font-weight: 700;
  color: #1c1c1c;
}

/* line 50, ../sass/screen.scss */
.main-content {
  margin-top: 100px;
}

/* line 54, ../sass/screen.scss */
.flexes {
  display: flex;
  flex-wrap: wrap;
}

/*Start styles for BLOG Page*/
/* line 61, ../sass/screen.scss */
.between-flex {
  justify-content: space-between;
}

/* line 65, ../sass/screen.scss */
.under-title {
  font-family: "Open Sans", sans-serif;
  font: 16px/30;
  font-style: italic;
  font-weight: 400;
}

/* line 72, ../sass/screen.scss */
.portait {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

/* line 79, ../sass/screen.scss */
.text-p {
  padding: 45px 0 60px 0;
  color: #585858;
}

/* line 84, ../sass/screen.scss */
.all-posts {
  margin: 25px 0 35px 0;
  border-bottom: solid 1px #e6e9ee;
}
/* line 88, ../sass/screen.scss */
.all-posts .post {
  padding: 5px 0 70px 0;
  max-width: 1040px;
}
/* line 92, ../sass/screen.scss */
.all-posts .post .img-post {
  max-width: 1040px;
  max-height: 335px;
}

/* line 99, ../sass/screen.scss */
.author-post {
  color: #757575;
  font-size: 13px;
  font-weight: 600;
}

/* line 105, ../sass/screen.scss */
.share {
  margin: 20px 10px 0 0;
  font: "Open Sans", sans-serif;
}

/* line 110, ../sass/screen.scss */
.soc-s {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 5px;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

/* line 121, ../sass/screen.scss */
.faceb, .twit:hover, .goog:hover {
  background-color: #496fa5;
  line-height: 50px;
}
/* line 125, ../sass/screen.scss */
.faceb:hover, .twit:hover, .goog:hover {
  color: #ffaf36;
  background-color: transparent;
  border: solid 1px #36a8ff;
}

/* line 132, ../sass/screen.scss */
.twit {
  background-color: #36a8ff;
  line-height: 50px;
}

/* line 141, ../sass/screen.scss */
.goog {
  background-color: #eb4125;
  line-height: 48px;
}

/* line 150, ../sass/screen.scss */
.send-to-next {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
/* line 155, ../sass/screen.scss */
.send-to-next li {
  text-decoration: none;
  margin: 0 5px;
}
/* line 159, ../sass/screen.scss */
.send-to-next li a {
  border: solid 2px #1c1c1c;
  width: 50px;
  height: 50px;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 400;
  display: block;
  text-align: center;
  line-height: 45px;
}
/* line 170, ../sass/screen.scss */
.send-to-next li a:hover, .send-to-next li a:active {
  border-color: #ffaf36;
  color: #ffaf36;
}

/*End styles for BLOG Page*/
/*Start styles for FAQ Page*/
/* line 184, ../sass/screen.scss */
article {
  column-count: 2;
  padding: 40px 0 100px 0;
}
/* line 188, ../sass/screen.scss */
article ol {
  padding-left: 0;
}
/* line 191, ../sass/screen.scss */
article ol li {
  list-style: none;
  /* display: flex; */
  /*When Flex - bg-number short?????????   */
  max-width: 530px;
  padding: 0 30px 70px 0;
}
/* line 199, ../sass/screen.scss */
article ol li .num {
  /*!!!!!!! Can`t give styles for numbers!!!!!*/
  /* transform: rotate(45deg);  rotate all, but need only bg*/
  margin-right: 25px;
  color: #1c1c1c;
  background: #ffaf36;
  display: inline-block;
  text-align: center;
  width: 25px;
  height: 25px;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 2px;
}

/* line 223, ../sass/screen.scss */
.search-q {
  text-align: center;
  background-color: #eaeff3;
  padding-top: 100px;
}
/* line 228, ../sass/screen.scss */
.search-q .search-q-content {
  padding-bottom: 100px;
}

/* line 233, ../sass/screen.scss */
.search-form {
  margin: 30px 0 60px 0;
}
/* line 236, ../sass/screen.scss */
.search-form .search-window {
  border: 1px solid #e0e7ec;
  width: 700px;
  height: 50px;
  padding-left: 25px;
}
/* line 242, ../sass/screen.scss */
.search-form .search-btn {
  background-color: #ffaf36;
  margin-left: -5px;
  margin-top: -5px;
  width: 50px;
  padding: 0;
  font-size: 15px;
  color: #1c1c1c;
}

/*End styles for FAQ Page*/
/*Start styles for Contact-us Page*/
/* line 257, ../sass/screen.scss */
.contact-styl {
  align-items: center;
  color: #1c1c1c;
  font-weight: 700;
}
/* line 262, ../sass/screen.scss */
.contact-styl .info-btn {
  color: #1c1c1c;
}

/* line 268, ../sass/screen.scss */
.city-banner {
  display: flex;
  align-items: center;
  min-height: 345px;
  margin: 40px 0 100px 0;
  background-color: rgba(0, 0, 0, 0.3);
  /*good idea to darkness images */
}
/* line 275, ../sass/screen.scss */
.city-banner .img-city-banner {
  position: absolute;
  z-index: -1;
}
/* line 279, ../sass/screen.scss */
.city-banner .banner-text {
  margin: 0 100px;
}
/* line 281, ../sass/screen.scss */
.city-banner .banner-text h3 {
  color: #ffaf36;
}

/* line 287, ../sass/screen.scss */
.bg-light-blu {
  background: #eaeff3;
}

/* line 291, ../sass/screen.scss */
.contact-from {
  padding-top: 100px;
}

/* line 295, ../sass/screen.scss */
.contact-us-form {
  flex-direction: column;
  padding-bottom: 30px;
}
/* line 299, ../sass/screen.scss */
.contact-us-form .inp {
  background-color: #eaeff3;
  padding: 15px 0;
  margin-top: 15px;
  font: 14px/24px "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-bottom: solid 1px #dce3e8;
  width: 100%;
}
/* line 310, ../sass/screen.scss */
.contact-us-form button {
  width: 150px;
}

/*End styles for Contact-us Page*/
