@charset "UTF-8";
/* line 1, ../sass/_header.scss */
.header {
  font: 13px "Open Sans", sans-serif;
  font-weight: 600;
  height: 95px;
  padding-top: 25px;
  position: relative;
  border-bottom: 1px solid rgba(221, 228, 234, 0.15);
}
/* line 9, ../sass/_header.scss */
.header-img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
/* line 16, ../sass/_header.scss */
.header-wrap, .header-wrap-home {
  overflow: hidden;
  position: relative;
  background-color: #1c1c1c;
  height: 395px;
}
/* line 23, ../sass/_header.scss */
.header .logo {
  padding-top: 5px;
  max-width: 100%;
}
/* line 28, ../sass/_header.scss */
.header .phone {
  font-weight: 400;
  margin-top: 17px;
  position: relative;
}
/* line 33, ../sass/_header.scss */
.header .phone:before {
  content: "";
  width: 1px;
  height: 22px;
  background-color: #8a8a8a;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 44, ../sass/_header.scss */
.header .main-nav {
  margin-right: 0;
}
/* line 47, ../sass/_header.scss */
.header .main-nav ul {
  margin-top: 16px;
  padding-left: 0;
  min-width: 100%;
  text-align: center;
}
/* line 54, ../sass/_header.scss */
.header .main-nav li {
  display: inline;
  margin: 0 21px 0 22px;
}
/* line 58, ../sass/_header.scss */
.header .main-nav li:first-child {
  margin-left: 0;
}
/* line 62, ../sass/_header.scss */
.header .main-nav li:last-child {
  margin-right: 0;
}
/* line 66, ../sass/_header.scss */
.header .main-nav li:active {
  color: #ffaf36;
}
/* line 72, ../sass/_header.scss */
.header .head-span {
  font-weight: 400;
  margin-top: 16px;
}
/* line 77, ../sass/_header.scss */
.header .active {
  color: #ffaf36;
}

@media (min-width: 991px) {
  /* line 87, ../sass/_header.scss */
  .main-nav {
    margin-left: auto;
    margin-right: 0;
  }
  /* line 91, ../sass/_header.scss */
  .main-nav ul {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 991px) {
  /* line 100, ../sass/_header.scss */
  .main-nav {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 106, ../sass/_header.scss */
  .header .phone {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  /* line 115, ../sass/_header.scss */
  .header .phone {
    margin-left: auto;
    padding-right: 0;
  }
}
@media (max-width: 575px) {
  /* line 123, ../sass/_header.scss */
  .main-nav {
    width: 500px;
    margin-left: 0;
  }
}
/* line 1, ../sass/_footer.scss */
.footer {
  background-color: #2a2b2c;
  font: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
}

/* line 8, ../sass/_footer.scss */
.item-center {
  align-items: center;
}

/* line 12, ../sass/_footer.scss */
.footer-date {
  margin: 20px 0 40px 0;
  color: #8a8a8a;
}

/* line 17, ../sass/_footer.scss */
.footer-social {
  margin-bottom: 20px;
}
/* line 20, ../sass/_footer.scss */
.footer-social a {
  display: inline-block;
  color: #8a8a8a;
  border: solid 1px #373839;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
}
/* line 31, ../sass/_footer.scss */
.footer-social a i {
  font-size: 15px;
}

/* line 41, ../sass/_footer.scss */
.footer-menu {
  padding: 0;
}
/* line 44, ../sass/_footer.scss */
.footer-menu li {
  list-style-type: none;
  padding: 15px 0;
  border-bottom: solid 1px #373839;
  position: relative;
}
/* line 51, ../sass/_footer.scss */
.footer-menu li a:before {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  padding-right: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ffaf36;
}
/* line 63, ../sass/_footer.scss */
.footer-menu li:last-child {
  border-bottom: none;
}
/* line 68, ../sass/_footer.scss */
.footer-menu a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #8a8a8a;
}

/* line 82, ../sass/_footer.scss */
.contact-us h5 {
  padding-bottom: 35px;
}

/* line 87, ../sass/_footer.scss */
.footer-input, .comment-foot-form {
  border: 1px solid #373839;
  color: #8a8a8a;
  background-color: transparent;
  padding: 15px 20px;
  margin: 0;
}

/* line 95, ../sass/_footer.scss */
.comment-foot-form {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
}

/* line 103, ../sass/_footer.scss */
.footer-btn {
  margin-top: 10px;
}

/* line 2, ../sass/_helper-classes.scss */
.text-color-white {
  color: #fff;
}
/* line 6, ../sass/_helper-classes.scss */
.text-black {
  color: #1c1c1c;
}
/* line 9, ../sass/_helper-classes.scss */
.text-ali-cent {
  text-align: center;
}

/* line 14, ../sass/_helper-classes.scss */
.bold {
  font-weight: 700;
}

/* line 18, ../sass/_helper-classes.scss */
.upper {
  text-transform: uppercase;
}

/* line 22, ../sass/_helper-classes.scss */
.orange {
  color: #ffaf36;
}

/* line 26, ../sass/_helper-classes.scss */
.main-content {
  padding: 100px 0;
}

/* line 30, ../sass/_helper-classes.scss */
.container {
  padding-left: 0;
  padding-right: 0;
}

/* line 35, ../sass/_helper-classes.scss */
p {
  line-height: 28px;
}

/* line 39, ../sass/_helper-classes.scss */
.bg-light-blu {
  background: #eaeff3;
}

/*Right piramids*/
/* line 4, ../sass/_piramids.scss */
.piramids-right {
  position: relative;
}

/* line 8, ../sass/_piramids.scss */
.piramids-right:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 78px solid transparent;
  border-right: 78px solid transparent;
  border-bottom: 105px solid #36a8ff;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: auto;
  right: 70px;
}

/* line 23, ../sass/_piramids.scss */
.piramids-right:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 70px solid #ffaf36;
  position: absolute;
  bottom: 0;
  z-index: 7;
  left: auto;
  right: 0;
}

/*Left piramids*/
/* line 39, ../sass/_piramids.scss */
.piramids-left {
  position: relative;
}

/* line 43, ../sass/_piramids.scss */
.piramids-left:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 78px solid transparent;
  border-right: 78px solid transparent;
  border-bottom: 105px solid #36a8ff;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
}

/* line 57, ../sass/_piramids.scss */
.piramids-left:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 70px solid #ffaf36;
  position: absolute;
  bottom: 0;
  z-index: 7;
  left: 85px;
}

/* line 7, ../sass/screen.scss */
a:hover, .footer-social a:hover, .footer-menu a:hover {
  text-decoration: none;
  color: #ffaf36;
  border-color: #ffaf36;
}

/* line 13, ../sass/screen.scss */
.btn, .search-form .search-btn, .contact-styl .info-btn {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #ffaf36;
  border-radius: 0;
  background-color: transparent;
  font: 13px "Raleway", sans-serif;
  font-weight: 700;
  color: #ffaf36;
}
/* line 24, ../sass/screen.scss */
.btn:hover, .search-form .search-btn:hover, .contact-styl .info-btn:hover {
  color: #36a8ff;
}

/* line 29, ../sass/screen.scss */
.btn-or-black {
  color: #1c1c1c;
  background-color: #ffaf36;
}

/* line 34, ../sass/screen.scss */
h1 {
  font-size: 60px;
  font-weight: 700;
}

/* line 41, ../sass/screen.scss */
h3 {
  color: #1c1c1c;
  font: 30px/24px "Raleway", sans-serif;
  font-weight: 800;
}

/* line 47, ../sass/screen.scss */
h5 {
  font: 18px "Raleway", sans-serif;
  font-weight: 800;
}

/* line 52, ../sass/screen.scss */
h6 {
  font: 16px/24px "Raleway", sans-serif;
  font-weight: 700;
  color: #1c1c1c;
}

/* line 57, ../sass/screen.scss */
.thin {
  font-weight: 400;
}

/* line 61, ../sass/screen.scss */
.flexes {
  display: flex;
}

/* line 65, ../sass/screen.scss */
.flex-wrap {
  flex-wrap: wrap;
}

/* line 69, ../sass/screen.scss */
.flex-row {
  flex-direction: row;
}

/* line 73, ../sass/screen.scss */
.align-i-center {
  align-items: center;
}

/* line 77, ../sass/screen.scss */
.just-c-sp-b {
  justify-content: space-between;
}

/* line 80, ../sass/screen.scss */
.dir-reverse {
  flex-direction: row-reverse;
}

/*Start styles for BLOG Page*/
/* line 89, ../sass/screen.scss */
.between-flex {
  justify-content: space-between;
}

/* line 93, ../sass/screen.scss */
.under-title {
  font: 16px/30px "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
}

/* line 99, ../sass/screen.scss */
.portait {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 40px;
}

/* line 107, ../sass/screen.scss */
.text-p {
  padding: 45px 0 60px 0;
  color: #585858;
}

/* line 112, ../sass/screen.scss */
.all-posts {
  margin: 25px 0 35px 0;
  border-bottom: solid 1px #e6e9ee;
}

/* line 117, ../sass/screen.scss */
.post {
  padding: 5px 15px 70px 15px;
}
/* line 120, ../sass/screen.scss */
.post .img-post {
  width: 1040px;
  height: 335px;
}

@media (max-width: 1199px) {
  /* line 128, ../sass/screen.scss */
  .img-post {
    max-width: 850px;
    max-height: 300px;
  }
}
@media (max-width: 991px) {
  /* line 136, ../sass/screen.scss */
  .img-post {
    max-width: 570px;
    max-height: 165px;
  }
}
@media (max-width: 768px) {
  /* line 144, ../sass/screen.scss */
  .img-post {
    max-width: 485px;
    max-height: 145px;
  }
}
/* line 152, ../sass/screen.scss */
.author-post, .author-post-comment {
  color: #757575;
  font-size: 13px;
  font-weight: 600;
}

/* line 158, ../sass/screen.scss */
.share {
  margin: 20px 10px 0 0;
  font-family: "Open Sans", sans-serif;
}

/* line 163, ../sass/screen.scss */
.soc-s {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 5px;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

/* line 174, ../sass/screen.scss */
.faceb, .twit:hover, .goog:hover {
  background-color: #496fa5;
  line-height: 50px;
}
/* line 178, ../sass/screen.scss */
.faceb:hover, .twit:hover, .goog:hover {
  color: #ffaf36;
  background-color: transparent;
  border: solid 1px #36a8ff;
}

/* line 185, ../sass/screen.scss */
.twit {
  background-color: #36a8ff;
  line-height: 50px;
}

/* line 194, ../sass/screen.scss */
.goog {
  background-color: #eb4125;
  line-height: 48px;
}

/* line 203, ../sass/screen.scss */
.send-to-next {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
/* line 208, ../sass/screen.scss */
.send-to-next li {
  text-decoration: none;
  margin: 0 5px;
}
/* line 212, ../sass/screen.scss */
.send-to-next li a {
  border: solid 2px #1c1c1c;
  width: 50px;
  height: 50px;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 400;
  display: block;
  text-align: center;
  line-height: 45px;
}
/* line 223, ../sass/screen.scss */
.send-to-next li a:hover, .send-to-next li a:active {
  border-color: #ffaf36;
  color: #ffaf36;
}

/*End styles for BLOG Page*/
/*Start styles for FAQ Page*/
/* line 236, ../sass/screen.scss */
article {
  column-count: 2;
  padding-top: 40px;
}
/* line 240, ../sass/screen.scss */
article ol {
  padding-left: 0;
}
/* line 243, ../sass/screen.scss */
article ol li {
  position: relative;
  list-style: none;
  display: flex;
  /*max-width: 530px;*/
  padding: 5px 0 70px 0;
}
/* line 251, ../sass/screen.scss */
article ol li .num {
  position: absolute;
  z-index: 3;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  left: 30px;
}
/* line 263, ../sass/screen.scss */
article ol li .num:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  transform: rotate(45deg);
  background: #ffaf36;
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  /* line 279, ../sass/screen.scss */
  article {
    column-count: 1;
  }
}
/* line 284, ../sass/screen.scss */
.li-text {
  padding: 0 20px 0 55px;
}

/* line 288, ../sass/screen.scss */
.search-form {
  margin: 30px 0 60px 0;
}
/* line 291, ../sass/screen.scss */
.search-form .search-window {
  border: 1px solid #e0e7ec;
  width: 700px;
  height: 50px;
  padding-left: 25px;
}
/* line 297, ../sass/screen.scss */
.search-form .search-btn {
  background-color: #ffaf36;
  margin-left: -5px;
  margin-top: -5px;
  width: 50px;
  padding: 0;
  font-size: 15px;
  color: #1c1c1c;
}
@media (max-width: 991px) {
  /* line 310, ../sass/screen.scss */
  .search-form .search-window {
    width: 600px;
  }
}
@media (max-width: 768px) {
  /* line 317, ../sass/screen.scss */
  .search-form .search-window {
    width: 480px;
  }
}
@media (max-width: 768px) {
  /* line 324, ../sass/screen.scss */
  .search-form .search-window {
    width: 430px;
  }
}

/*End styles for FAQ Page*/
/*Start styles for Contact-us Page*/
/* line 337, ../sass/screen.scss */
.contact-styl {
  align-items: center;
  color: #1c1c1c;
  font-weight: 700;
}
/* line 342, ../sass/screen.scss */
.contact-styl .info-btn {
  color: #1c1c1c;
}

/* line 348, ../sass/screen.scss */
.city-banner, .about-banner {
  position: relative;
  display: flex;
  align-items: center;
  height: 345px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  /*good idea to darkness images */
}
/* line 356, ../sass/screen.scss */
.city-banner .img-city-banner, .about-banner .img-city-banner {
  padding: 0;
  position: absolute;
  z-index: -1;
  left: 0;
}
/* line 363, ../sass/screen.scss */
.city-banner .banner-text, .about-banner .banner-text {
  margin: 0 100px;
}
/* line 365, ../sass/screen.scss */
.city-banner .banner-text h3, .about-banner .banner-text h3 {
  color: #ffaf36;
}

@media (max-width: 1199px) {
  /* line 373, ../sass/screen.scss */
  .city-banner, .about-banner {
    height: 290px;
  }
}
@media (max-width: 991px) {
  /* line 380, ../sass/screen.scss */
  .city-banner, .about-banner {
    height: 215px;
  }
}
@media (max-width: 768px) {
  /* line 387, ../sass/screen.scss */
  .city-banner, .about-banner {
    height: 165px;
  }
}
/* line 394, ../sass/screen.scss */
.contact-us-form {
  flex-direction: column;
  padding-bottom: 30px;
}
/* line 398, ../sass/screen.scss */
.contact-us-form button {
  width: 150px;
}

/* line 403, ../sass/screen.scss */
.inp, .inp-tes {
  background-color: #eaeff3;
  padding: 15px 0;
  margin-top: 15px;
  font: 14px/24px "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-bottom: solid 1px #dce3e8;
  width: 100%;
}

/*End styles for Contact-us Page*/
/*Start styles for Blog-post Page*/
/* line 419, ../sass/screen.scss */
.text-p-rm {
  padding: 15px 0;
}

/* line 423, ../sass/screen.scss */
.pink-quote {
  margin: 50px 0 50px 100px;
  background-color: #fef1de;
  border-left: 4px solid #ffaf36;
  padding: 25px 45px;
}
/* line 429, ../sass/screen.scss */
.pink-quote .quote-text {
  font-family: 15px/28px "Lora", serif;
  font-style: italic;
  color: #1c1c1c;
  margin: 0;
}

/* line 438, ../sass/screen.scss */
.blue-post {
  margin-bottom: 70px;
}

/* line 442, ../sass/screen.scss */
.img-blue-post {
  width: 165px;
  height: 195px;
  margin-right: 30px;
}

/* line 448, ../sass/screen.scss */
.cont-blue-post {
  background-color: #36a8ff;
  max-width: 950px;
  position: relative;
  height: 195px;
  /* Can we give fixed height here????????*/
}
/* line 454, ../sass/screen.scss */
.cont-blue-post h6 {
  padding: 40px 0 0 35px;
}
/* line 458, ../sass/screen.scss */
.cont-blue-post p {
  font-size: 14px;
  padding: 0 80px 40px 35px;
}

/* line 463, ../sass/screen.scss */
.cont-blue-post:before {
  content: "";
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-right: 12px solid #36a8ff;
  position: absolute;
  top: 87px;
  left: -11px;
  z-index: 2;
}

/* line 479, ../sass/screen.scss */
.author-post-comment {
  color: #ffaf36;
}
/* line 483, ../sass/screen.scss */
.author-post-comment .autor-post-name {
  color: #1c1c1c;
  font-weight: 700;
}

/* line 489, ../sass/screen.scss */
.post-commentar {
  padding-bottom: 35px;
}

/* line 494, ../sass/screen.scss */
.portait-in-comment {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 40px;
}

/* line 502, ../sass/screen.scss */
.text-comment {
  margin-bottom: 25px;
}

/* line 506, ../sass/screen.scss */
.mail-reply {
  border: 1px solid #ffaf36;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  padding: 6px 9px;
  color: #ffaf36;
}
/* line 514, ../sass/screen.scss */
.mail-reply:hover {
  color: #36a8ff;
}

/* line 519, ../sass/screen.scss */
.w-comment {
  margin-left: 150px;
  max-width: 990px;
}
/* line 523, ../sass/screen.scss */
.w-comment .w-post-commentar {
  max-width: 860px;
}

/*End styles for Blog-post Page*/
/*Start styles for 404 Page*/
/* line 532, ../sass/screen.scss */
.error-message {
  text-align: center;
  color: #1c1c1c;
}
/* line 536, ../sass/screen.scss */
.error-message .error-text {
  margin: 130px auto 35px auto;
  font: 72px/72px "Open Sans", sans-serif;
  font-weight: 300;
  max-width: 400px;
}
/* line 542, ../sass/screen.scss */
.error-message .error-text span {
  color: #36a8ff;
  font-weight: 700;
}
/* line 548, ../sass/screen.scss */
.error-message .error-info {
  background-color: #ffaf36;
  border-radius: 15px;
  font-size: 12px;
  padding: 0 30px;
  max-width: 450px;
  margin: 0 auto 130px auto;
}
/* line 556, ../sass/screen.scss */
.error-message .error-info .text-error-info {
  line-height: 30px;
}

/*End styles for 404 Page*/
/*Start styles for About-us Page*/
/* line 565, ../sass/screen.scss */
.about-banner {
  justify-content: center;
  height: 400px;
}
/* line 571, ../sass/screen.scss */
.about-banner .banner-btn {
  margin: 20px 15px 0;
}

@media (max-width: 1199px) {
  /* line 578, ../sass/screen.scss */
  .about-banner {
    height: 337px;
  }
}
@media (max-width: 991px) {
  /* line 585, ../sass/screen.scss */
  .about-banner {
    height: 255px;
  }
}
@media (max-width: 768px) {
  /* line 592, ../sass/screen.scss */
  .about-banner {
    height: 190px;
  }
}
/* line 597, ../sass/screen.scss */
.views-post {
  padding: 20px 0 30px 0;
}
/* line 600, ../sass/screen.scss */
.views-post .views-image {
  height: 175px;
  max-width: 265px;
  background-color: #1c1c1c;
}
/* line 606, ../sass/screen.scss */
.views-post .text-p-views {
  color: #585858;
}
/* line 609, ../sass/screen.scss */
.views-post .text-p-views-reverse {
  text-align: end;
}
@media (max-width: 991px) {
  /* line 616, ../sass/screen.scss */
  .views-post .text-p-views {
    text-align: center;
  }
  /* line 619, ../sass/screen.scss */
  .views-post .text-p-views-reverse {
    text-align: center;
  }
}

/* line 628, ../sass/screen.scss */
.content-carousel {
  margin: 40px 0 100px 0;
}

/* line 632, ../sass/screen.scss */
.client {
  border: 1px solid #eaeff3;
  width: 190px;
  height: 190px;
  margin: 0;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 190px;
}

/*End styles for About-us Page*/
/*Start styles for Careers Page*/
/* line 647, ../sass/screen.scss */
.careers-imgs {
  position: relative;
}
/* line 650, ../sass/screen.scss */
.careers-imgs .border-img {
  width: 165px;
  height: 160px;
  margin: 50px 60px 0 100px;
}
/* line 656, ../sass/screen.scss */
.careers-imgs .img-abs {
  width: 165px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 15px;
}

/* line 664, ../sass/screen.scss */
.content-info {
  padding-top: 30px;
}

/* line 668, ../sass/screen.scss */
.offers {
  padding-top: 50px;
}
/* line 671, ../sass/screen.scss */
.offers ul {
  padding-left: 0;
  margin-bottom: 0;
}
/* line 675, ../sass/screen.scss */
.offers ul li {
  list-style: none;
  max-width: 550px;
  min-width: 35%;
  position: relative;
}
/* line 683, ../sass/screen.scss */
.offers .li-text-offers {
  padding-left: 100px;
}
/* line 687, ../sass/screen.scss */
.offers .numb-icon {
  font-size: 42px;
  width: 45px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 698, ../sass/screen.scss */
.collapsed i {
  color: #1c1c1c;
  border: 2px solid #1c1c1c;
  transform: rotate(0deg);
}

/* line 705, ../sass/screen.scss */
.i-collapse {
  color: #36a8ff;
  border: 2px solid #36a8ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  transform: rotate(90deg);
}

/* line 716, ../sass/screen.scss */
.card {
  border: none;
  border-bottom: 1px solid #eaeff3;
  border-radius: 0;
  margin-bottom: 0;
}
/* line 722, ../sass/screen.scss */
.card:last-child {
  border-bottom: none;
}

/* line 727, ../sass/screen.scss */
.card-header {
  padding: 40px 0;
  background-color: #fff;
  border-bottom: none;
}

/* line 733, ../sass/screen.scss */
.card-block {
  padding: 0;
}
/* line 736, ../sass/screen.scss */
.card-block button {
  display: block;
  margin-bottom: 40px;
  margin-left: auto;
}

/* line 743, ../sass/screen.scss */
.collapse-list {
  /* column-count: 2;*/
  list-style: none;
  padding-left: 0;
}
/* line 748, ../sass/screen.scss */
.collapse-list li {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
}
/* line 753, ../sass/screen.scss */
.collapse-list li h6 {
  width: 195px;
}
/* line 757, ../sass/screen.scss */
.collapse-list li p, .collapse-list li ul {
  max-width: 300px;
}

/* line 763, ../sass/screen.scss */
.careers-list {
  list-style: none;
  padding-left: 0;
  line-height: 36px;
}
/* line 768, ../sass/screen.scss */
.careers-list span {
  float: left;
  margin-right: 25px;
}

/*End styles for Careers Page*/
/*Start styles for News Page*/
/* line 778, ../sass/screen.scss */
.img-news {
  width: 360px;
  height: 250px;
}

/* line 783, ../sass/screen.scss */
.little-img-news {
  width: 160px;
  height: 100px;
  margin-top: 30px;
}

/* line 789, ../sass/screen.scss */
.date {
  background-color: #ffaf36;
  height: 40px;
  width: 145px;
  line-height: 40px;
  text-align: center;
  margin: 0 30px 0 20px;
  position: relative;
}

/* line 799, ../sass/screen.scss */
.date:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #ffaf36;
  border-right: 10px solid #ffaf36;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  z-index: 3;
  top: 0;
  left: -20px;
}

/* line 814, ../sass/screen.scss */
.date:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #ffaf36;
  border-left: 10px solid transparent;
  border-right: 10px solid #ffaf36;
  position: absolute;
  z-index: 4;
  top: 20px;
  left: -20px;
}

/* line 829, ../sass/screen.scss */
.blue-quote {
  background-color: #d1ebff;
  border-left: 4px solid #36a8ff;
}
/* line 833, ../sass/screen.scss */
.blue-quote p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  line-height: 28px;
  padding: 40px 90px 40px 55px;
  color: #1c1c1c;
}

/* line 842, ../sass/screen.scss */
.h6-news {
  margin-bottom: 30px;
}

/* line 846, ../sass/screen.scss */
.news-list {
  list-style: none;
  padding-left: 0;
  font-size: 12px;
  line-height: 30px;
}
/* line 852, ../sass/screen.scss */
.news-list span {
  float: left;
  margin-right: 25px;
}

/*End styles for News Page*/
/*Start styles for Testimonial Page*/
/* line 863, ../sass/screen.scss */
.tes-cont {
  position: relative;
}
/* line 866, ../sass/screen.scss */
.tes-cont .tes-text {
  max-width: 750px;
  padding: 50px 50px 20px 50px;
  position: absolute;
  z-index: 2;
  top: 65px;
  left: 390px;
  line-height: 28px;
  background-color: #fff;
  border: 1px solid #eaeff3;
}
/* line 878, ../sass/screen.scss */
.tes-cont .paragraph {
  position: relative;
  margin-bottom: 0;
}
/* line 882, ../sass/screen.scss */
.tes-cont .paragraph .i-start {
  position: absolute;
  top: -10px;
  left: -25px;
}
/* line 888, ../sass/screen.scss */
.tes-cont .paragraph .i-end {
  transform: scale(-1, 1);
  padding-right: 100%;
}
/* line 894, ../sass/screen.scss */
.tes-cont .name {
  margin: 0;
}

/* line 899, ../sass/screen.scss */
.tes-img {
  width: 460px;
  height: 350px;
}

/* line 904, ../sass/screen.scss */
.design {
  color: #ffaf36;
}

/* line 908, ../sass/screen.scss */
.inp-tes {
  padding-left: 25px;
  border: 1px solid #dce3e8;
  background-color: transparent;
  width: 550px;
}

@media (max-width: 1200px) {
  /* line 918, ../sass/screen.scss */
  .inp-tes {
    width: 450px;
  }
}
/* line 923, ../sass/screen.scss */
.quot {
  position: relative;
  /* How I must do quotes? */
  z-index: 1;
}
/* line 927, ../sass/screen.scss */
.quot span {
  position: absolute;
  top: 100px;
  right: 40px;
  opacity: 0.15;
  color: #36a8ff;
  transform: scale(-1, 1);
  font-size: 400px;
}

/*.quot:after {
  content: "тЭЭ";  ( U+275D  or  &#10077; )    not work!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  position: absolute;
  top: 100px;
  right: 40px;
  opacity: 0.15;
  color: $blue;
  transform: scale(-1, 1);
  font-size: 400px;
}                               */
/*End styles for Tesimonial Page*/
/*Start styles for Services Page*/
/* line 953, ../sass/screen.scss */
.serv-image {
  width: 205px;
  height: 200px;
}

/* line 958, ../sass/screen.scss */
.cl-response {
  margin: 50px 0 50px 0;
  max-width: 330px;
}

/* line 963, ../sass/screen.scss */
.cl-img {
  width: 70px;
  height: 70px;
  margin-right: 40px;
}

/* line 969, ../sass/screen.scss */
.mr-b {
  margin-bottom: 50px;
}

/* line 973, ../sass/screen.scss */
.cl-name {
  margin: 10px 0 0 0;
}

/*End styles for Services Page*/
/*Start styles for Home Page*/
/* line 981, ../sass/screen.scss */
.header-wrap-home {
  height: 835px;
}

/* line 987, ../sass/screen.scss */
.slider-home {
  padding: 200px 0;
  color: #fff;
  position: relative;
  max-width: 510px;
}
/* line 994, ../sass/screen.scss */
.slider-home .p-rel {
  font: 16px "Raleway", sans-serif;
  font-weight: 600;
  margin: 0;
}
/* line 1000, ../sass/screen.scss */
.slider-home p {
  font-size: 15px;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 60px;
}

/* line 1008, ../sass/screen.scss */
.carousel {
  position: relative;
}
/* line 1011, ../sass/screen.scss */
.carousel .carousel-indicators {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  width: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 1023, ../sass/screen.scss */
.carousel .carousel-indicators li {
  background-color: #8f8f8f;
  border-color: #8f8f8f;
  width: 25px;
  height: 4px;
  border-radius: 0;
  margin: 0 1px;
}
/* line 1032, ../sass/screen.scss */
.carousel .carousel-indicators .active {
  background-color: #ffaf36;
  border-color: #ffaf36;
  margin-top: 0;
  border-radius: 0;
}
/* line 1041, ../sass/screen.scss */
.carousel .cl-carousel {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: flex;
  left: 0;
  width: 48px;
}
/* line 1049, ../sass/screen.scss */
.carousel .cl-carousel li {
  background-color: #36a8ff;
  border-color: #36a8ff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 3px;
}
/* line 1058, ../sass/screen.scss */
.carousel .cl-carousel .active {
  background-color: #ffaf36;
  border-color: #ffaf36;
  margin-top: 0;
  border-radius: 50%;
}

/* line 1070, ../sass/screen.scss */
.home-abou-text {
  max-width: 650px;
}

/* line 1074, ../sass/screen.scss */
.list {
  list-style: none;
  margin-top: 70px;
  padding-left: 0;
}
/* line 1079, ../sass/screen.scss */
.list li {
  position: relative;
  max-width: 540px;
  margin-bottom: 60px;
}
/* line 1084, ../sass/screen.scss */
.list li .info-li {
  max-width: 420px;
}
/* line 1088, ../sass/screen.scss */
.list li:hover::before {
  content: "";
  width: 15px;
  height: 2px;
  background-color: #36a8ff;
  position: absolute;
  top: -10px;
  left: 100px;
}
/* line 1098, ../sass/screen.scss */
.list li p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

@media (max-width: 1199px) {
  /* line 1108, ../sass/screen.scss */
  .list li .info-li {
    width: 350px;
  }
}
@media (max-width: 991px) {
  /* line 1114, ../sass/screen.scss */
  .list li {
    width: 360px;
  }
  /* line 1117, ../sass/screen.scss */
  .list li .info-li {
    width: 260px;
  }
}
@media (max-width: 768px) {
  /* line 1124, ../sass/screen.scss */
  .list li {
    width: 540px;
  }
  /* line 1127, ../sass/screen.scss */
  .list li .info-li {
    width: 420px;
  }
}
/* line 1134, ../sass/screen.scss */
.h-serv-icon {
  margin-right: 40px;
  width: 60px;
  height: 60px;
}

/* line 1140, ../sass/screen.scss */
.p-inside {
  font-size: 14px;
  margin-top: 30px;
}

/* line 1145, ../sass/screen.scss */
.news-info {
  text-align: right;
  font-weight: 400;
}
/* line 1149, ../sass/screen.scss */
.news-info span {
  font-size: 30px;
  font-weight: 700;
}
/* line 1154, ../sass/screen.scss */
.news-info i {
  font-size: 30px;
}
/* line 1158, ../sass/screen.scss */
.news-info .bord-line {
  border-bottom: 1px solid #ffaf36;
  position: relative;
  z-index: 1;
}
/* line 1164, ../sass/screen.scss */
.news-info .bord-line:before {
  content: "";
  position: absolute;
  z-index: 5;
  bottom: -1px;
  left: 0;
  width: 15px;
  height: 1px;
  background: #1c1c1c;
}

/* line 1176, ../sass/screen.scss */
.main-info img {
  margin-bottom: 40px;
  width: 455px;
  height: 220px;
}

@media (max-width: 1199px) {
  /* line 1184, ../sass/screen.scss */
  .main-info img {
    width: 355px;
  }
}
@media (max-width: 991px) {
  /* line 1190, ../sass/screen.scss */
  .main-info img {
    width: 285px;
  }
}
@media (max-width: 768px) {
  /* line 1196, ../sass/screen.scss */
  .news-info {
    display: flex;
    justify-content: space-around;
  }

  /* line 1200, ../sass/screen.scss */
  .main-info img {
    width: 100%;
  }
}
/* line 1207, ../sass/screen.scss */
.inf .btn, .inf .search-form .search-btn, .search-form .inf .search-btn, .inf .contact-styl .info-btn, .contact-styl .inf .info-btn {
  margin-top: 30px;
}
/* line 1211, ../sass/screen.scss */
.inf .record {
  border-bottom: 1px solid #d8dcdf;
  padding-bottom: 25px;
  margin-bottom: 40px;
}
/* line 1217, ../sass/screen.scss */
.inf .p-date {
  font-size: 12px;
  font-weight: 700;
  color: #ffaf36;
}

/*End styles for Home Page*/
