.footer {
  background-color: $footer-bg-color;
  padding: 70px 0 85px 0;
  font: $font-open-sans;
  font-size: 13px;
  font-weight: 600;
}

.item-center{
  align-items: center;
}

.footer-date {
  margin: 20px 0 40px 0;
  color: $footer-color;
}

.footer-social {
  margin-bottom: 10px;

  a {
    color: $footer-color;
    border: solid 1px $footer-border-color;
    text-decoration: none;
    padding: 5px;

    i {
      text-align: center;
      width: 20px;
      font-size: 15px;
    }

    &:hover {
      @extend a:hover
    }
  }
}

.footer-menu {
  padding: 0;

  li {
    list-style-type: none;
    padding: 15px 0;
    border-bottom: solid 1px $footer-border-color;

    &:last-child {
      border-bottom: none;
    }
  }

  a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: $footer-color;

    &:hover {
      @extend a:hover
    }
  }
}

.foot-nav-marker {
  width: 0;
  height: 0;
  padding-right: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid ;
  border-left-color: $orange;
}

.contact-us {

  h5 {
    padding-bottom: 35px;
  }
}

.footer-input {
  border: 1px solid $footer-border-color;
  color: $footer-color;
  background-color: rgba(0, 0, 0, 0);
  padding: 15px 20px;
  margin: 0;
}

.comment-foot-form {

  @extend .footer-input;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.footer-btn {
  margin-top: 10px;
}