.footer {
  background-color: $footer-bg-color;
  font: $font-open-sans;
  font-size: 13px;
  font-weight: 600;
}

.item-center{
  align-items: center;
}

.footer-date {
  margin: 20px 0 40px 0;
  color: $footer-color;
}

.footer-social {
  margin-bottom: 20px;

  a {
    display: inline-block;
    color: $footer-color;
    border: solid 1px $footer-border-color;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 3px;
    width: 30px;
    height: 30px;
    text-align: center;

    i {
      font-size: 15px;
    }

    &:hover {
      @extend a:hover
    }
  }
}

.footer-menu {
  padding: 0;

  li {
    list-style-type: none;
    padding: 15px 0;
    border-bottom: solid 1px $footer-border-color;
    position: relative;

    a {
      &:before {
        position: relative;
        content: "";
        width: 0;
        height: 0;
        padding-right: 10px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $orange;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: $footer-color;

    &:hover {
      @extend a:hover
    }
  }
}

.contact-us {

  h5 {
    padding-bottom: 35px;
  }
}

.footer-input {
  width: 50%;
  border: 1px solid $footer-border-color;
  color: $footer-color;
  background-color: rgba(0, 0, 0, 0);
  padding: 15px 20px;
  margin: 0;
}

.comment-foot-form {

  width: 100%;

  @extend .footer-input;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.footer-btn {
  margin-top: 10px;
}