.header {
  font: 13px $font-open-sans;
  font-weight: 600;
  height: 95px;
  padding-top: 25px;
  position: relative;
  border-bottom: 1px solid rgba(221, 228, 234, 0.15);

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
  }

  &-wrap {
    overflow: hidden;
    position: relative;
    background-color: $black;
    height: 395px;
  }

  .logo {
    padding-top: 5px;
    max-width: 100%;
  }

  .phone {
    font-weight: 400;
    margin-top: 17px;
    position: relative;

    &:before {
      content: "";
      width: 1px;
      height: 22px;
      background-color: $footer-color;
      position: absolute;
      top:0;
      left: 0;
    }
  }

  .main-nav {
    margin-right: 0;

    ul {
      margin-top: 16px;
      padding-left: 0;
      min-width: 100%;
      text-align: center;
    }

    li {
      display: inline;
      margin: 0 21px 0 22px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:active {
        color: $orange;
      }
    }
  }

  .head-span {
    font-weight: 400;
    margin-top: 16px;
  }

  .active {
    color: $orange;
  }
}




@media (min-width: 991px) {

  .main-nav {
    margin-left: auto;
    margin-right: 0;

    ul {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 991px) {

  .main-nav {
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    .phone {
      margin-left: auto;
    }
  }
}

@media (max-width: 768px) {

  .header {
    .phone {
      margin-left: auto;
      padding-right: 0;
    }
  }
}

@media (max-width: 575px) {
  .main-nav {
    width: 500px;
    margin-left: 0;
  }
}
