.text {
  &-color-white {
    color: #fff;
  }

  &-black {
    color: $black;
  }
}

.bold {
  font-weight: 700;
}

.upper {
  text-transform: uppercase;
}

.orange {
  color: $orange;
}

.main-content {
  padding: 100px 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
  width: 1140px;
}
p {
  line-height: 28px;
}

.bg-light-blu {
  background: $bgc-light-blu;
}



/*УДАЛИТЬ*/
/* .content-center {
  width: 1140px;
  margin: 0 auto;
} */