
      /*Right piramids*/

.piramids-right {
  position: relative;
}

.piramids-right:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 78px solid transparent;
  border-right: 78px solid transparent;
  border-bottom: 105px solid $blue;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: auto;
  right: 70px;
}

.piramids-right:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 70px solid $orange;
  position: absolute;
  bottom: 0;
  z-index: 7;
  left: auto;
  right: 0;
}
      /*Left piramids*/

.piramids-left {
  position: relative;
}

.piramids-left:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 78px solid transparent;
  border-right: 78px solid transparent;
  border-bottom: 105px solid $blue;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
}

.piramids-left:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 70px solid $orange;
  position: absolute;
  bottom: 0;
  z-index: 7;
  left: 85px;
}
