$font-open-sans: 'Open Sans', sans-serif;
$font-lora: 'Lora', serif;
$font-raleway: 'Raleway', sans-serif;

$orange: #ffaf36;
$black: #1c1c1c;
$blue: #36a8ff;
$text-color: #585858;

$footer-color: #8a8a8a;
$footer-bg-color: #2a2b2c;
$footer-border-color: #373839;