@import 'variables';
@import 'header-footer';
@import 'helper-classes';
@import 'piramids';

a:hover {
  text-decoration: none;
  color: $orange;
  border-color: $orange;
}


.btn {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid $orange;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  font: $font-raleway;
  font-size: 13px;
  font-weight: 700;
  color: $orange;

  &:hover {
    color: $blue;
  }
}

h2 {
}

h3 {
  color: $black;
  font: 30px/24px $font-raleway;
  font-weight: 800;
}

h5 {
  font: 18px $font-raleway;
  font-weight: 900;
}

h6 {
  font: 16px/24px $font-raleway;
  font-weight: 700;
  color: $black;
}

.main-content {
  margin-top: 100px;
}

.flexes {
  display: flex;
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row;
}

.align-i-center {
  align-items: center;
}

.dir-reverse {
  flex-direction: row-reverse;
}




/*Start styles for BLOG Page*/

.between-flex {
  justify-content: space-between
}

.under-title {
  font-family: $font-open-sans;
  font: 16px/30;
  font-style: italic;
  font-weight: 400;
}

.portait {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.text-p {
  padding: 45px 0 60px 0;
  color: $text-color;
}

.all-posts {
  margin: 25px 0 35px 0;
  border-bottom: solid 1px #e6e9ee;
}

.post {
  padding: 5px 0 70px 0;
  max-width: 1040px;

  .img-post {
    max-width: 1040px;
    max-height: 335px;
  }
}


.author-post {
  color: #757575;
  font-size: 13px;
  font-weight: 600;
}

.share {
  margin: 20px 10px 0 0;
  font: $font-open-sans;
}

.soc-s {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 5px;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

.faceb {
  background-color: #496fa5;
  line-height: 50px;

  &:hover {
    color: $orange;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px $blue;
  }
}

.twit {
  background-color: $blue;
  line-height: 50px;

  &:hover {
    @extend .faceb
  }
}

.goog {
  background-color: #eb4125;
  line-height: 48px;

  &:hover {
    @extend .faceb
  }
}

.send-to-next {
  display: flex;
  list-style-type: none;
  justify-content: center;

  li {
    text-decoration: none;
    margin: 0 5px;

    a {
      border: solid 2px $black;
      width: 50px;
      height: 50px;
      color: $black;
      font-size: 18px;
      font-weight: 400;
      display: block;
      text-align: center;
      line-height: 45px;

      &:hover,
      &:active {

        border-color: $orange;
        color: $orange;
      }
    }
  }
}

/*End styles for BLOG Page*/

/*Start styles for FAQ Page*/

article {
  column-count: 2;
  padding: 40px 0 100px 0;

  ol {
    padding-left: 0;

    li {
      list-style: none;
      display: flex;
      max-width: 530px;
      padding: 5px 30px 70px 5px;
      position: relative;

      .num {
        /* transform: rotate(45deg);  rotate all, but need only bg*/
        position: absolute;
        transform: rotate(45deg);

        background: $orange;
        text-align: center;
        width: 20px;
        height: 20px;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
      }
    }
  }
}

.li-text {
  padding-left: 45px;

}

.search-q {
  text-align: center;
  background-color: $bgc-light-blu;
  padding-top: 100px;

  .search-q-content{
    padding-bottom: 100px;
  }
}

.search-form {
  margin: 30px 0 60px 0;

  .search-window {
    border: 1px solid #e0e7ec;
    width: 700px;
    height: 50px;
    padding-left: 25px;
  }
  .search-btn {
    background-color: $orange;
    margin-left: -5px;
    margin-top: -5px;
    width: 50px;
    padding: 0;
    font-size: 15px;
    color: $black;
    @extend .btn;
  }
}

/*End styles for FAQ Page*/

/*Start styles for Contact-us Page*/
.contact-styl {
  align-items: center;
  color: $black;
  font-weight: 700;

  .info-btn {
    color: $black;
    @extend .btn
  }
}

.city-banner {
  display: flex;
  align-items: center;
  min-height: 345px;
  margin: 40px 0 100px 0;
  background-color: rgba(0, 0, 0, .4); /*good idea to darkness images */

  .img-city-banner {
    position: absolute;
    z-index: -1;
  }
  .banner-text {
    margin: 0 100px;
    h3 {
      color: $orange;
    }
  }
}

.bg-light-blu {
  background: #eaeff3;
}

.contact-from {
  padding-top: 100px;
}

.contact-us-form {
  flex-direction: column;
  padding-bottom: 30px;

  .inp {
    background-color: #eaeff3;
    padding: 15px 0;
    margin-top: 15px;
    font: 14px/24px $font-open-sans;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-bottom: solid 1px #dce3e8;
    width: 100%;
  }
  button {
    width: 150px;
  }
}

/*End styles for Contact-us Page*/

/*Start styles for Blog-post Page*/

.text-p-rm {
  padding: 15px 0 15px 0;
}

.pink-quote {
  margin-left: 100px;
  background-color: #fef1de;
  border-left: 4px solid $orange;
  padding: 25px 45px;

  .quote-text{
    font-family: $font-lora;
    font-size: 15px;
    font-style: italic;
    color: $black
  }
}

.blue-post {
  margin-bottom: 70px;

  .img-blue-post {
    width: 165px;
    height: 195px;
    margin-right: 20px;
  }

  .arrow-left {
    margin-top: auto;
    margin-bottom: auto;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid $blue;
  }
  .content-blue-post {
    background-color: $blue;
    max-width: 945px;

    h6 {
      padding: 40px 0 0 35px ;
    }

    p {
      padding: 0 80px 40px 35px;
    }
  }
}

.author-post-comment {
  color: $orange;
  @extend .author-post;

  .autor-post-name {
    color: $black;
    font-weight: 700;
  }
}

.post-commentar {
    width: 1000px;
    padding-bottom: 35px;
  @extend .post;
}

.portait-in-comment {
  width: 83px;
  height: 83px;
  @extend .portait
}

.text-comment {
  margin-bottom: 25px;
}

.mail-reply {
  border: 1px solid $orange;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  padding: 6px 9px;
  color: $orange;

  &:hover {
    color: $blue;
  }
}

.w-comment {
  margin-left: 150px;
  width: 990px;

  .w-post-commentar {
    width: 860px;
    padding-bottom: 80px;
  }
}

.post-comment {
  background-color: $bgc-light-blu;
}

/*End styles for Blog-post Page*/

/*Start styles for 404 Page*/

.error-message {
  text-align: center;
  color: $black;
  
  .error-text {
    margin: 230px auto 35px auto;
    font: 72px $font-open-sans;
    font-weight: 300;
    line-height: 72px;
    max-width: 400px;

    span {
      color: $blue;
      font-weight: 700;
    }
  }
  
  .error-info {
    background-color: $orange;
    border-radius: 15px;
    font-size: 12px;
    padding: 0 30px;
    max-width: 450px;
    margin: 0 auto 230px auto;

    .text-error-info {
      line-height: 30px;
    }
  }
}
/*End styles for 404 Page*/

/*Start styles for About-us Page*/

.about-banner {
  justify-content: center;
  height: 400px;
  @extend  .city-banner;

  .banner-btn {
    margin: 0 15px;
  }
}

.views-post {
  padding: 20px 0 30px 0;

  .views-image {
    height: 175px;
    width: 265px;
    background-color: $black;
  }

  .text-p-views {
    margin-left: 50px;
    color: $text-color;
    max-width: 800px;
  }

  .text-p-views-reverse {
    margin-right: 50px;
    color: $text-color;
    max-width: 800px;
    text-align: end;
  }
}

.carousel {
  position: relative;
  margin-bottom: 100px;

  .carousel-indicators {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    display: flex;

    li {
      border-color: $blue;
      background-color: $blue;
    }

    li.active {
      border-color: $orange;
      background-color: $orange;
    }
  }
}

.content-carousel {
  margin: 40px 0 100px 0;
}

.client {
  border: 1px solid #eaeff3;
  width: 190px;
  height: 190px;
  margin: 0;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 190px;
}

/*End styles for About-us Page*/
