@import 'variables';
@import 'header';
@import 'footer';
@import 'helper-classes';
@import 'piramids';

a:hover {
  text-decoration: none;
  color: $orange;
  border-color: $orange;
}

.btn {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid $orange;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  font: 13px $font-raleway;
  font-weight: 700;
  color: $orange;

  &:hover {
    color: $blue;
  }
}

.btn-or-black {
  color: $black;
  background-color: $orange;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}
h2 {
}

h3 {
  color: $black;
  font: 30px/24px $font-raleway;
  font-weight: 800;
}

h5 {
  font: 18px $font-raleway;
  font-weight: 800;
}

h6 {
  font: 16px/24px $font-raleway;
  font-weight: 700;
  color: $black;
}
.thin {
  font-weight: 400;
}

.flexes {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.align-i-center {
  align-items: center;
}

.just-c-sp-b {
  justify-content: space-between;
}
.dir-reverse {
  flex-direction: row-reverse;
}




/*Start styles for BLOG Page*/

.between-flex {
  justify-content: space-between
}

.under-title {
  font: 16px/30px $font-open-sans;
  font-style: italic;
  font-weight: 400;
}

.portait {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 40px;
}

.text-p {
  padding: 45px 0 60px 0;
  color: $text-color;
}

.all-posts {
  margin: 25px 0 35px 0;
  border-bottom: solid 1px #e6e9ee;
}

.post {
  padding: 5px 15px 70px 15px;

  .img-post {
    width: 1040px;
    height: 335px;
  }
}

@media (max-width: 1199px) {

  .img-post {
    max-width: 850px;
    max-height: 300px;
  }
}

@media (max-width: 991px) {

  .img-post {
    max-width: 570px;
    max-height: 165px;
  }
}

@media (max-width: 768px) {

  .img-post {
    max-width: 485px;
    max-height: 145px;
  }
}



.author-post {
  color: #757575;
  font-size: 13px;
  font-weight: 600;
}

.share {
  margin: 20px 10px 0 0;
  font-family: $font-open-sans;
}

.soc-s {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 5px;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

.faceb {
  background-color: #496fa5;
  line-height: 50px;

  &:hover {
    color: $orange;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px $blue;
  }
}

.twit {
  background-color: $blue;
  line-height: 50px;

  &:hover {
    @extend .faceb
  }
}

.goog {
  background-color: #eb4125;
  line-height: 48px;

  &:hover {
    @extend .faceb
  }
}

.send-to-next {
  display: flex;
  list-style-type: none;
  justify-content: center;

  li {
    text-decoration: none;
    margin: 0 5px;

    a {
      border: solid 2px $black;
      width: 50px;
      height: 50px;
      color: $black;
      font-size: 18px;
      font-weight: 400;
      display: block;
      text-align: center;
      line-height: 45px;

      &:hover,
      &:active {
        border-color: $orange;
        color: $orange;
      }
    }
  }
}

/*End styles for BLOG Page*/

/*Start styles for FAQ Page*/

article {
  column-count: 2;
  padding-top: 40px;

  ol {
    padding-left: 0;

    li {
      position: relative;
      list-style: none;
      display: flex;
      /*max-width: 530px;*/
      padding: 5px 0 70px 0;


      .num {
        position: absolute;
        z-index: 3;
        text-align: center;
        width: 20px;
        height: 20px;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        left: 30px;
      }

      .num:before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        transform: rotate(45deg);
        background: $orange;
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (max-width: 768px) {

  article {
    column-count: 1;
  }
}

.li-text {
  padding: 0 20px 0 55px;
}

.search-form {
  margin: 30px 0 60px 0;

  .search-window {
    border: 1px solid #e0e7ec;
    width: 700px;
    height: 50px;
    padding-left: 25px;
  }
  .search-btn {
    background-color: $orange;
    margin-left: -5px;
    margin-top: -5px;
    width: 50px;
    padding: 0;
    font-size: 15px;
    color: $black;
    @extend .btn;
  }

  @media (max-width: 991px) {

    .search-window {
      width: 600px;
    }
  }

  @media (max-width: 768px) {

    .search-window {
      width: 480px;
    }
  }

  @media (max-width: 768px) {

    .search-window {
      width: 430px;
    }
  }
}




/*End styles for FAQ Page*/

/*Start styles for Contact-us Page*/

.contact-styl {
  align-items: center;
  color: $black;
  font-weight: 700;

  .info-btn {
    color: $black;
    @extend .btn
  }
}

.city-banner {
  position: relative;
  display: flex;
  align-items: center;
  height: 345px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, .4); /*good idea to darkness images */

  .img-city-banner {
    padding: 0;
    position: absolute;
    z-index: -1;
    left: 0;
  }

  .banner-text {
    margin: 0 100px;
    h3 {
      color: $orange;
    }
  }
}

@media (max-width: 1199px) {

  .city-banner {
    height: 290px;
  }
}

@media (max-width: 991px) {

  .city-banner {
    height: 215px;
  }
}

@media (max-width: 768px) {

  .city-banner {
    height: 165px;
  }
}



.contact-us-form {
  flex-direction: column;
  padding-bottom: 30px;

  button {
    width: 150px;
  }
}

.inp {
  background-color: $bgc-light-blu;
  padding: 15px 0;
  margin-top: 15px;
  font: 14px/24px $font-open-sans;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-bottom: solid 1px #dce3e8;
  width: 100%;
}

/*End styles for Contact-us Page*/

/*Start styles for Blog-post Page*/

.text-p-rm {
  padding: 15px 0;
}

.pink-quote {
  margin: 50px 0 50px 100px;
  background-color: #fef1de;
  border-left: 4px solid $orange;
  padding: 25px 45px;

  .quote-text{
    font-family: 15px/28px $font-lora;
    font-style: italic;
    color: $black;
    margin: 0;

  }
}

.blue-post {
  margin-bottom: 70px;
}

.img-blue-post {
  width: 165px;
  height: 195px;
  margin-right: 30px;
}

.cont-blue-post {
  background-color: $blue;
  max-width: 950px;
  position: relative;
  height: 195px;       /* Can we give fixed height here????????*/

  h6 {
    padding: 40px 0 0 35px ;
  }

  p {
    font-size: 14px;
    padding: 0 80px 40px 35px;
  }
}
.cont-blue-post:before {
  content: "";
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-right:12px solid $blue;
  position: absolute;
  top: 87px;
  left: -11px;
  z-index: 2;
}

.author-post-comment {
  color: $orange;
  @extend .author-post;

  .autor-post-name {
    color: $black;
    font-weight: 700;
  }
}

.post-commentar {

    padding-bottom: 35px;
}

.portait-in-comment {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  margin-right: 40px;
}

.text-comment {
  margin-bottom: 25px;
}

.mail-reply {
  border: 1px solid $orange;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  padding: 6px 9px;
  color: $orange;

  &:hover {
    color: $blue;
  }
}

.w-comment {
  margin-left: 150px;
  max-width: 990px;

  .w-post-commentar {
    max-width: 860px;
  }
}

/*End styles for Blog-post Page*/

/*Start styles for 404 Page*/

.error-message {
  text-align: center;
  color: $black;
  
  .error-text {
    margin: 130px auto 35px auto;
    font: 72px/72px $font-open-sans;
    font-weight: 300;
    max-width: 400px;

    span {
      color: $blue;
      font-weight: 700;
    }
  }
  
  .error-info {
    background-color: $orange;
    border-radius: 15px;
    font-size: 12px;
    padding: 0 30px;
    max-width: 450px;
    margin: 0 auto 130px auto;

    .text-error-info {
      line-height: 30px;
    }
  }
}
/*End styles for 404 Page*/

/*Start styles for About-us Page*/

.about-banner {
  justify-content: center;
  height: 400px;

  @extend  .city-banner;

  .banner-btn {
    margin: 20px 15px 0;
  }
}

@media (max-width: 1199px) {

  .about-banner {
    height: 337px;
  }
}

@media (max-width: 991px) {

  .about-banner {
    height: 255px;
  }
}

@media (max-width: 768px) {

  .about-banner {
    height: 190px;
  }
}

.views-post {
  padding: 20px 0 30px 0;

  .views-image {
    height: 175px;
    max-width: 265px;
    background-color: $black;
  }

  .text-p-views {
    color: $text-color;

    &-reverse {
      text-align: end;
    }
  }

  @media (max-width: 991px) {

    .text-p-views {
      text-align: center;

      &-reverse {
        text-align: center;
      }
    }
  }
}



.content-carousel {
  margin: 40px 0 100px 0;
}

.client {
  border: 1px solid #eaeff3;
  width: 190px;
  height: 190px;
  margin: 0;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 190px;
}

/*End styles for About-us Page*/

/*Start styles for Careers Page*/

.careers-imgs {
  position: relative;

  .border-img {
    width: 165px;
    height: 160px;
    margin:50px 60px 0 100px;
  }

  .img-abs {
    width: 165px;
    height: 160px;
    position: absolute;
    top: 0;
    left: 15px;
  }
}
.content-info {
  padding-top: 30px;
}

.offers {
  padding-top: 50px;

  ul {
    padding-left: 0;
    margin-bottom: 0;

    li {
      list-style: none;
      max-width: 550px;
      min-width: 35%;
      position: relative;
    }
  }

  .li-text-offers {
    padding-left: 100px;
  }

  .numb-icon {
    font-size: 42px;
    width: 45px;
    position: absolute;
    top:0;
    left: 0;
  }
}

.collapsed {

  i {
    color: $black;
    border: 2px solid $black;
    transform: rotate(0deg);
  }
}

.i-collapse {
  color: $blue;
  border: 2px solid $blue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  transform: rotate(90deg);
}

.card {
  border: none;
  border-bottom: 1px solid $bgc-light-blu;
  border-radius: 0;
  margin-bottom: 0;

  &:last-child {
    border-bottom: none;
  }
}

.card-header {
  padding: 40px 0;
  background-color: #fff;
  border-bottom: none;
}

.card-block {
  padding: 0;

  button {
    display: block;
    margin-bottom: 40px;
    margin-left: auto;
  }
}

.collapse-list {
              /* column-count: 2;*/
  list-style: none;
  padding-left: 0;

  li {
    display: flex;
    flex-wrap: wrap;
    width: 550px;

    h6 {
      width: 195px;
    }

    p, ul {
      max-width: 300px;
    }
  }
}

.careers-list {
  list-style: none;
  padding-left: 0;
  line-height: 36px;

  span {
    float: left;
    margin-right: 25px;
  }
}

/*End styles for Careers Page*/

/*Start styles for News Page*/

.img-news {
  width: 360px;
  height: 250px;
}

.little-img-news {
  width: 160px;
  height: 100px;
  margin-top: 30px;
}

.date {
  background-color: $orange;
  height: 40px;
  width: 145px;
  line-height: 40px;
  text-align: center;
  margin: 0 30px 0 20px;
  position: relative;
}

.date:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid $orange;
  border-right: 10px solid $orange;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  z-index: 3;
  top: 0;
  left: -20px;
}

.date:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid $orange;
  border-left: 10px solid transparent;
  border-right: 10px solid $orange;
  position: absolute;
  z-index: 4;
  top: 20px;
  left: -20px;
}

.blue-quote {
  background-color: #d1ebff;
  border-left: 4px solid $blue;

  p {
    font-family: $font-open-sans;
    font-style: italic;
    line-height: 28px;
    padding: 40px 90px 40px 55px;
    color: $black;
  }
}

.h6-news {
  margin-bottom: 30px;
}

.news-list {
  list-style: none;
  padding-left: 0;
  font-size: 12px;
  line-height: 30px;

  span {
    float: left;
    margin-right: 25px;
  }
}


/*End styles for News Page*/

/*Start styles for Testimonial Page*/

.tes-cont {
  position: relative;

  .tes-text{
    max-width: 750px;
    padding: 50px 50px 20px 50px;
    position: absolute;
    z-index: 2;
    top: 65px;
    left: 390px;
    line-height: 28px;
    background-color: #fff;
    border: 1px solid $bgc-light-blu;
  }

  .paragraph {
    position: relative;
    margin-bottom: 0;

    .i-start {
      position: absolute;
      top: -10px;
      left: -25px;
    }

    .i-end {
      transform: scale(-1, 1);
      padding-right: 100% ;
    }
  }

  .name {
    margin: 0;
  }
}

.tes-img {
  width: 460px;
  height: 350px;
}

.design {
  color: $orange;
}

.inp-tes {
  padding-left: 25px;
  border: 1px solid #dce3e8;
  background-color: transparent;
  width: 550px;
  @extend .inp;
}

@media (max-width: 1200px) {

  .inp-tes {
   width: 450px;
  }
}

.quot {
  position: relative;              /* How I must do quotes? */
  z-index: 1;

  span {
    position: absolute;
    top: 100px;
    right: 40px;
    opacity: 0.15;
    color: $blue;
    transform: scale(-1, 1);
    font-size: 400px;
  }
}
/*.quot:after {
  content: "❝";  ( U+275D  or  &#10077; )    not work!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  position: absolute;
  top: 100px;
  right: 40px;
  opacity: 0.15;
  color: $blue;
  transform: scale(-1, 1);
  font-size: 400px;
}                               */

/*End styles for Tesimonial Page*/

/*Start styles for Services Page*/


.serv-image {
  width: 205px;
  height: 200px;
}

.cl-response {
  margin: 50px 0 50px 0;
  max-width: 330px;
}

.cl-img {
  width: 70px;
  height: 70px;
  margin-right: 40px;
}

.mr-b {
  margin-bottom: 50px;
}

.cl-name {
  margin: 10px 0 0 0;
}

/*End styles for Services Page*/

/*Start styles for Home Page*/

.header-wrap-home {
  height: 835px;

  @extend .header-wrap;
}

.slider-home {
  color: #fff;
  position: relative;
  max-width: 510px;

  .p-rel {
    font: 16px $font-raleway;
    font-weight: 600;
    margin: 0;
  }

  p {
    font-size: 15px;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 60px;
  }
}


.carousel {
  position: relative;
  margin-top: 250px;

  .carousel-indicators {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    width: 100px;
    margin: 0 auto -100px auto;
    padding: 0;
    list-style: none;

    li {
       background-color: #8f8f8f;
       border-color:  #8f8f8f;
       width: 25px;
       height: 4px;
       border-radius: 0;
       margin: 0 1px;
     }

    .active {
      background-color: $orange;
      border-color: $orange;
      margin-top: 0;
      border-radius: 0;
    }
  }


  .cl-carousel {
    position: absolute;
    bottom: 0;
    margin: 0;
    display: flex;
    left: 0;
    width: 48px;

    li {
      background-color: $blue;
      border-color:  $blue;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 3px;
    }

    .active {
      background-color: $orange;
      border-color: $orange;
      margin-top: 0;
      border-radius: 50%;
    }
  }
}



.home-abou-text {
  max-width: 650px;
}

.list {
  list-style: none;
  margin-top: 70px;
  padding-left: 0;

  li {
    position: relative;
    max-width: 540px;
    margin-bottom: 60px;

    .info-li {
      max-width: 420px;
    }

    &:hover::before {
      content: "";
      width: 15px;
      height: 2px;
      background-color: $blue;
      position: absolute;
      top: -10px;
      left: 100px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
    }
  }
}


@media (max-width: 1199px) {
  .list li .info-li {
    width: 350px;
  }
}

@media (max-width: 991px) {
  .list li {
    width: 360px;

    .info-li {
      width: 260px;
    }
  }
}

@media (max-width: 768px) {
  .list li {
    width: 540px;

    .info-li {
      width: 420px;
    }
  }
}


.h-serv-icon {
  margin-right: 40px;
  width: 60px;
  height: 60px;
}

.p-inside {
  font-size: 14px;
  margin-top: 30px;
}

.news-info {
  text-align: right;
  font-weight: 400;

  span {
    font-size: 30px;
    font-weight: 700;
  }

  i {
    font-size: 30px;
  }

  .bord-line {
    border-bottom: 1px solid $orange;
    position: relative;
    z-index: 1;
  }

  .bord-line:before {
    content: "";
    position: absolute;
    z-index: 5;
    bottom: -1px;
    left: 0;
    width: 15px;
    height: 1px;
    background: $black;
  }
}

.main-info img{
  margin-bottom: 40px;
  width: 455px;
  height: 220px;
}

@media (max-width: 1199px) {

  .main-info img{
    width: 355px;
  }
}
@media (max-width: 991px) {

  .main-info img {
    width: 285px;
  }
}
@media (max-width: 768px) {

  .news-info {
    display: flex;
    justify-content: space-around;
  }
  .main-info img {
    width: 100%;
  }
}

.inf {

  .btn {
    margin-top: 30px;
  }

  .record {
    border-bottom: 1px solid #d8dcdf;
    padding-bottom: 25px;
    margin-bottom: 40px;
  }

  .p-date {
    font-size: 12px;
    font-weight: 700;
    color: $orange;
  }
}

/*End styles for Home Page*/

