@import 'variables';
@import 'header-footer';
@import 'helper-classes';
@import 'piramids';

a:hover {
  text-decoration: none;
  color: $orange;
  border-color: $orange;
}


.btn {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid $orange;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  font: $font-raleway;
  font-size: 13px;
  font-weight: 700;
  color: $orange;

  &:hover {
    color: $blue;
  }
}

h2 {
}

h3 {
  color: $black;
  font: 30px/24px $font-raleway;
  font-weight: 800;
}

h5 {
  font: 18px $font-raleway;
  font-weight: 900;
}

h6 {
  font: 16px/24px $font-raleway;
  font-weight: 700;
  color: $black;
}

.main-content {
  margin-top: 100px;
}

.flexes {
  display: flex;
  flex-wrap: wrap;
}

/*Start styles for BLOG Page*/

.between-flex {
  justify-content: space-between
}

.under-title {
  font-family: $font-open-sans;
  font: 16px/30;
  font-style: italic;
  font-weight: 400;
}

.portait {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.text-p {
  padding: 45px 0 60px 0;
  color: $text-color;
}

.all-posts {
  margin: 25px 0 35px 0;
  border-bottom: solid 1px #e6e9ee;

  .post {
    padding: 5px 0 70px 0;
    max-width: 1040px;

    .img-post {
      max-width: 1040px;
      max-height: 335px;
    }
  }
}

.author-post {
  color: #757575;
  font-size: 13px;
  font-weight: 600;
}

.share {
  margin: 20px 10px 0 0;
  font: $font-open-sans;
}

.soc-s {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 5px;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

.faceb {
  background-color: #496fa5;
  line-height: 50px;

  &:hover {
    color: $orange;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px $blue;
  }
}

.twit {
  background-color: $blue;
  line-height: 50px;

  &:hover {
    @extend .faceb
  }
}

.goog {
  background-color: #eb4125;
  line-height: 48px;

  &:hover {
    @extend .faceb
  }
}

.send-to-next {
  display: flex;
  list-style-type: none;
  justify-content: center;

  li {
    text-decoration: none;
    margin: 0 5px;

    a {
      border: solid 2px $black;
      width: 50px;
      height: 50px;
      color: $black;
      font-size: 18px;
      font-weight: 400;
      display: block;
      text-align: center;
      line-height: 45px;

      &:hover,
      &:active {

        border-color: $orange;
        color: $orange;
      }
    }
  }
}

/*End styles for BLOG Page*/

/*Start styles for FAQ Page*/

article {
  column-count: 2;
  padding: 40px 0 100px 0;

  ol {
    padding-left: 0;

    li {
      list-style: none;
      /* display: flex; */
      /*When Flex - bg-number short?????????   */

      max-width: 530px;
      padding: 0 30px 70px 0;

      .num {
        /*!!!!!!! Can`t give styles for numbers!!!!!*/
        /* transform: rotate(45deg);  rotate all, but need only bg*/

        margin-right: 25px;
        color: $black;
        background: $orange;
        display: inline-block;
        text-align: center;
        width: 25px;
        height: 25px;
        font-size: 13px;
        font-weight: 700;
        line-height: 24px;
        margin-left: 2px;
      }
    }
  }
}

.li-text {

}

.search-q {
  text-align: center;
  background-color: #eaeff3;
  padding-top: 100px;

  .search-q-content{
    padding-bottom: 100px;
  }
}

.search-form {
  margin: 30px 0 60px 0;

  .search-window {
    border: 1px solid #e0e7ec;
    width: 700px;
    height: 50px;
    padding-left: 25px;
  }
  .search-btn {
    background-color: $orange;
    margin-left: -5px;
    margin-top: -5px;
    width: 50px;
    padding: 0;
    font-size: 15px;
    color: $black;
    @extend .btn;
  }
}

/*End styles for FAQ Page*/

/*Start styles for Contact-us Page*/
.contact-styl {
  align-items: center;
  color: $black;
  font-weight: 700;

  .info-btn {
    color: $black;
    @extend .btn
  }
}

.city-banner {
  display: flex;
  align-items: center;
  min-height: 345px;
  margin: 40px 0 100px 0;
  background-color: rgba(0, 0, 0, .3); /*good idea to darkness images */

  .img-city-banner {
    position: absolute;
    z-index: -1;
  }
  .banner-text {
    margin: 0 100px;
    h3 {
      color: $orange;
    }
  }
}

.bg-light-blu {
  background: #eaeff3;
}

.contact-from {
  padding-top: 100px;
}

.contact-us-form {
  flex-direction: column;
  padding-bottom: 30px;

  .inp {
    background-color: #eaeff3;
    padding: 15px 0;
    margin-top: 15px;
    font: 14px/24px $font-open-sans;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-bottom: solid 1px #dce3e8;
    width: 100%;
  }
  button {
    width: 150px;
  }
}

/*End styles for Contact-us Page*/