include includes/_head


doctype html
html
    mixin head('Error 404')
    body
        div.header-wrap
            img.header-img(src="images/layer-404.png" alt="img")
            include includes/_header-without-active-li

        //Started a part of content
        div.container.main-content.error-message.piramids-right
            p.error-text.upper
                | error
                span 404
                | Not foud
            div.error-info
                p.upper.text-error-info You may have mis-typed the URL Or the page has been removed

        //Finished a part of content

        include includes/_footer