footer(class="footer main-content")
    div.container
        div(class="row flex-items-xs-between item-center")
            div(class="col-xl-2 col-lg-3 col-md-3 col-sm-12 col-xs-12")
                img(class="logo" src="images/logo.png" alt="BusinessPlus")
                p(class="upper footer-color footer-date") 2015 © lawyer.
                div(class="footer-social")
                    a(href="#")
                        i(class="fa fa-facebook" aria-hidden="true")
                    a(href="#")
                        i(class="fa fa-google-plus" aria-hidden="true")
                    a(href="#")
                        i(class="fa fa-twitter" aria-hidden="true")
                    a(href="#")
                        i(class="fa fa-linkedin" aria-hidden="true")
            div(class="col-xl-2 col-lg-3 col-md-3 col-sm-10 col-xs-10")
                h5(class="text-color-white upper") navigation
                ul(class="footer-menu upper")
                    li
                        a(href="index-home-page.html") Home
                    li
                        a(href="index-about-us.html") About us
                    li
                        a(href="index-services.html") services
                    li
                        a(href="index-testimonial.html") tesimonial
                    li
                        a(href="index-blog.html") blog
                    li
                        a(href="index-contact-us.html") Contact Us
            div(class="col-xl-4 col-lg-4 col-md-5 col-sm-11 col-xs-11 contact-us")
                h5(class="text-color-white upper contact-us") Quick contact us
                form(action="#" method="post" class="footer-form")
                    div.row
                        input(class="footer-input col-xs" type="text" placeholder="Name *")
                        input(class="footer-input col-xs" type="email" placeholder="Email *")
                    div.row
                        textarea(class="comment-foot-form col-xs" cols="30" rows="" placeholder="Comment *")
                    div.row
                        include btn-submit

script(src="bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/tether/dist/js/tether.min.js")
script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
