head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    title Business plus

    link(href="https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700|Raleway:400,600,700,700i,800&amp;subset=cyrillic" rel="stylesheet")
    link(href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    link(href="bower_components/bootstrap/dist/css/bootstrap-flex.min.css" rel="stylesheet" type="text/css")
    link(href="css/screen.css" type="text/css" rel="stylesheet")
