doctype html
html
    include includes/head
    body
        div.header-wrap
            img(src="images/layer-404.png" class="header-img" alt="img")
            include includes/_header

        //Started a part of content

        div(class="container main-content error-message piramids-right")
            p(class="error-text upper") error <span>404</span> Not foud     !!!!!  what to do here?????????????????
            div.error-info
                p(class="upper text-error-info") You may have mis-typed the URL Or the page has been removed

        //Finished a part of content

        include includes/footer