div( class="flexes between-flex")
    div.flexes
        p(class="upper share") Share :
        a( href="#" class="soc-s faceb")
            i( class="fa fa-facebook" aria-hidden="true")
        a( href="#" class="soc-s twit")
            i( class="fa fa-twitter" aria-hidden="true")
        a( href="#" class="soc-s goog")
            i( class="fa fa-google-plus" aria-hidden="true")
    include _btn-read-more